body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: green;
  text-align: center;
  color: white;
}

h1 {
  color: goldenrod;
}

#message-el {
}

button {
  background: goldenrod;
  width: 150px;
  color: #016f32;
  border: none;
  padding: 5px 0 5px 0;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom: 4px;
}
